/* ----------------------------------------------------
Author:     Elisabete Baker
Date:       March 2017
Project:    Elisabete Codes SCSS
---------------------------------------------------- */
// color variables
$grey-light: #DEDEDE;
$grey-med: #CCCCCC;
$grey-dark: #999999;
$white: #FFFFFF;
$black: #000000;
$orange: #FF6600;

body{
	background-color: $grey-med;
	margin: 0;
	padding: 0;
	*{
		margin: 0;
		padding: 0;
		font-family: 'Source Code Pro', monospace;
		font-size: 2.5vh;
		-webkit-backface-visibility: hidden;
	}
}

// Open Close functionality
.divOpen{ 
	display: block;
}
.divClose{ 
	display: none;
}

// Generic page styling 
.pageContainer{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	.pageRows{
		width: 100vw;
		max-width: 65vh;
		height: 100vh;
		list-style: none;
		position: relative;
		li{
			position: relative;
		}
		img, button, p, .arrowImg{
			position: absolute;
		}
		img{
			height: 100%;
		}
		button{
			display: inline-block;
			width: 12vh;
			height: 12vh;
			border: none;
			border-radius: 50%;
			font-size: 3vh;
			&:hover{
				cursor: pointer;
				border: solid 2px $orange;
			}
			a{
				text-decoration: none;
				font-size: 3vh;
				color: $white;
			}
		}
		p{
			display: inline-block;
			color: $orange;
			text-align: center;
		}
		.arrowImg{
			height: 7vh;
			z-index: 2;
		}
	}
}

// Title row styles
.pageRows .title{
	height: 10.5%;
	font-size: 8vh;
	line-height: 1.5;
	padding-left: 1%;
	padding-right: 1%;
	&:first-child{
	background-color: $white;
	color: $grey-dark;
	}
	&:nth-child(2){
		background-color: $grey-dark;
		color: $white;
		text-align: right;
	}
}

// Work row styles
.pageRows .work{
	height: 20%;
	background-color: $grey-light;
	p{
		top: 10%;
		right: 75%;
	}
	.arrowImg{
		top: 40%;
		right: 74%;
	}
	.git{
		background-color: $white;
		color: $grey-dark;
		bottom: 0;
		right: 60.5%;
		a{
			color: $grey-dark;
		}
	}
	#workImg{
		left: 39%;
	}
}

// About row styles
.pageRows .about{
	height: 31%;
	background-color: $white;
	#aboutImg{
		right: 42%;	
	}
	.linkedIn{
		background-color: $grey-dark;
		left: 54.5%;
		img{
			position: relative;
		}
	}
	p{
		top: 20%;
		left: 80%;
	}
	.arrowImg{
		top: 40%;
		left: 78%;
		transform: scaleX(-1);
	}
	.resumap{
		background-color: $grey-med;
		color: $white;
		height: 20vh;
		width: 20vh;
		bottom: 0;
		left: 57%;
	}
}

// Contact row styles
.pageRows .contact{
	height: 27%;
	background-color: $grey-light;
	.twitter{
		background-color: $grey-dark;
		right: 52%;
		img{
			position: relative;
		}
	}
	p{
		top: 23%;
		right: 78%;
	}
	.arrowImg{
		top: 45%;
		right: 71%;
	}
	.email{
		width: 15vh;
		height: 15vh;
		color: white;
		font-family: ariel;
		font-size: 6vh;
		bottom: 0;
		right: 53%;
		background-color: $grey-med;
	}
	#contactImg{
		left: 46%;
	}
}

.pageRows #contact-form{
	height: 50%;
	background-color: $white;
	padding: 10%;
	#form-content{
		display: inline-block;
		height: 100%;
		width: 100%;
		position: relative;

		#name, #email, #message, #submit{
			display: block;
			width: 100%;
			padding: 2.5%;
			border: solid 2px $orange;
			border-radius: 5px;
		}
		#name, #email, #message{
			margin-bottom: 5%;
			color: $grey-dark;
			&:focus{
				border: $orange;
			}
		}
		#message{
			height: 50%;
		}
		#submit{
			width: 25%;
			border: none;
			color: $white;
			background-color: $orange;
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}














