/* ----------------------------------------------------
Author:     Elisabete Baker
Date:       March 2017
Project:    Elisabete Codes SCSS
---------------------------------------------------- */
body {
  background-color: #CCCCCC;
  margin: 0;
  padding: 0; }
  body * {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5vh;
    -webkit-backface-visibility: hidden; }

.divOpen {
  display: block; }

.divClose {
  display: none; }

.pageContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%); }
  .pageContainer .pageRows {
    width: 100vw;
    max-width: 65vh;
    height: 100vh;
    list-style: none;
    position: relative; }
    .pageContainer .pageRows li {
      position: relative; }
    .pageContainer .pageRows img, .pageContainer .pageRows button, .pageContainer .pageRows p, .pageContainer .pageRows .arrowImg {
      position: absolute; }
    .pageContainer .pageRows img {
      height: 100%; }
    .pageContainer .pageRows button {
      display: inline-block;
      width: 12vh;
      height: 12vh;
      border: none;
      border-radius: 50%;
      font-size: 3vh; }
      .pageContainer .pageRows button:hover {
        cursor: pointer;
        border: solid 2px #FF6600; }
      .pageContainer .pageRows button a {
        text-decoration: none;
        font-size: 3vh;
        color: #FFFFFF; }
    .pageContainer .pageRows p {
      display: inline-block;
      color: #FF6600;
      text-align: center; }
    .pageContainer .pageRows .arrowImg {
      height: 7vh;
      z-index: 2; }

.pageRows .title {
  height: 10.5%;
  font-size: 8vh;
  line-height: 1.5;
  padding-left: 1%;
  padding-right: 1%; }
  .pageRows .title:first-child {
    background-color: #FFFFFF;
    color: #999999; }
  .pageRows .title:nth-child(2) {
    background-color: #999999;
    color: #FFFFFF;
    text-align: right; }

.pageRows .work {
  height: 20%;
  background-color: #DEDEDE; }
  .pageRows .work p {
    top: 10%;
    right: 75%; }
  .pageRows .work .arrowImg {
    top: 40%;
    right: 74%; }
  .pageRows .work .git {
    background-color: #FFFFFF;
    color: #999999;
    bottom: 0;
    right: 60.5%; }
    .pageRows .work .git a {
      color: #999999; }
  .pageRows .work #workImg {
    left: 39%; }

.pageRows .about {
  height: 31%;
  background-color: #FFFFFF; }
  .pageRows .about #aboutImg {
    right: 42%; }
  .pageRows .about .linkedIn {
    background-color: #999999;
    left: 54.5%; }
    .pageRows .about .linkedIn img {
      position: relative; }
  .pageRows .about p {
    top: 20%;
    left: 80%; }
  .pageRows .about .arrowImg {
    top: 40%;
    left: 78%;
    transform: scaleX(-1); }
  .pageRows .about .resumap {
    background-color: #CCCCCC;
    color: #FFFFFF;
    height: 20vh;
    width: 20vh;
    bottom: 0;
    left: 57%; }

.pageRows .contact {
  height: 27%;
  background-color: #DEDEDE; }
  .pageRows .contact .twitter {
    background-color: #999999;
    right: 52%; }
    .pageRows .contact .twitter img {
      position: relative; }
  .pageRows .contact p {
    top: 23%;
    right: 78%; }
  .pageRows .contact .arrowImg {
    top: 45%;
    right: 71%; }
  .pageRows .contact .email {
    width: 15vh;
    height: 15vh;
    color: white;
    font-family: ariel;
    font-size: 6vh;
    bottom: 0;
    right: 53%;
    background-color: #CCCCCC; }
  .pageRows .contact #contactImg {
    left: 46%; }

.pageRows #contact-form {
  height: 50%;
  background-color: #FFFFFF;
  padding: 10%; }
  .pageRows #contact-form #form-content {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative; }
    .pageRows #contact-form #form-content #name, .pageRows #contact-form #form-content #email, .pageRows #contact-form #form-content #message, .pageRows #contact-form #form-content #submit {
      display: block;
      width: 100%;
      padding: 2.5%;
      border: solid 2px #FF6600;
      border-radius: 5px; }
    .pageRows #contact-form #form-content #name, .pageRows #contact-form #form-content #email, .pageRows #contact-form #form-content #message {
      margin-bottom: 5%;
      color: #999999; }
      .pageRows #contact-form #form-content #name:focus, .pageRows #contact-form #form-content #email:focus, .pageRows #contact-form #form-content #message:focus {
        border: #FF6600; }
    .pageRows #contact-form #form-content #message {
      height: 50%; }
    .pageRows #contact-form #form-content #submit {
      width: 25%;
      border: none;
      color: #FFFFFF;
      background-color: #FF6600;
      position: absolute;
      right: 0;
      bottom: 0; }
